body {
    margin: 0;
}

header {
    border: 2px solid black;
    padding: 80px 0 80px 0;
    width: 100vw;
    margin-bottom: 20px;
}

main {
    width: min(70vw, 100% - 2rem);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px;

    margin-right: auto;
    margin-left: auto;
}

.card {
    border: 2px solid black;
    border-radius: 8px;
}

.card img {
    width: 3em;
}